Requirements 
Tools > Libraries > Manage Library 
1. DHT sensor library  by adafruit versi 1.4.4
2. ArduinoJson by Benoit Blanchon Versi 6.14.1
3. Thingspeak 2.0.1


================================= BOARD NODEMCU 
1. File > Preferences > Board Manager URL 
2. https://dl.espressif.com/dl/package_esp32_index.json,http://arduino.esp8266.com/stable/package_esp8266com_index.json
3. Tools > Board > Board Manager > esp8266 versi 2.5.0
4. Pilih board NodeMcu 1.0 (ESP-12E Module) 